---
title: Next.js Pages
date: 2021/3/18
description: Learn more about Next.js pages.
tag: web development
author: You
---

import Prism from 'components/Prism.js'
import Button from 'components/button.js'

# Page 1

## Cool things are happening.

So, what am i talking about..?

<Button>👋 Hello</Button>

I am living here..

<Prism
  code={`
const s = 10;//highlight-end 
let m = 23;

const myfun = () => {
let something = 'bullshit'
}

let poke = 23;
`}
/>

